<div class="row"> 
   <div class="col-sm-12"> 
    <section class="panel"> 
     <header class="panel-heading">
       Health Records 
     </header> 
     <div class="panel-body"> 
     <div ui-view="profile-box"></div>
        <div class="row ">
                    <div class="col-md-12 sorting-grid"> 
                        <div class="row" ui-sortable="sortableOptions">
                            <div class="col-md-4 move">
                                <!--widget start-->
                                <aside class="profile-nav alt">
                                    <section class="panel panel-info grid-panel">
                                        <div class="panel-heading">
                                          <h1 class="panel-title">My Providers </h1>
                                        </div>
                                        <div>
                                         <ul class="nav nav-pills nav-stacked">
                                            <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li>
                                            
                                         </ul>
                                        </div>
                                    </section>
                                </aside>
                                <!--widget end-->

                            </div>
                            <div class="col-md-4 move">
                                <aside class="profile-nav alt">
                                    <section class="panel panel-danger grid-panel">
                                        <div class="panel-heading">
                                          <h1 class="panel-title">My Favorites </h1>
                                        </div>
                                        <div>
                                         <ul class="nav nav-pills nav-stacked">
                                            <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy</span>
                                            <span class="pull-right">(Pathologist)</span></a>
                                            </li>
                                            
                                         </ul>
                                        </div>
                                    </section>
                                </aside>
                            </div>
                           <div class="col-md-4 move">
                                <aside class="profile-nav alt">
                                    <section class="panel panel-success grid-panel">
                                        <div class="panel-heading">
                                          <h1 class="panel-title">My Visits </h1>
                                        </div>
                                        <div>
                                         <ul class="nav nav-pills nav-stacked">
                                            <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy  Out-Patient </span>
                                            <span class="pull-right">16-Jul-2015</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy In-Patient </span>
                                            <span class="pull-right">17-Jul-2015</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Jaganmohan Reddy Out-Patient </span>
                                            <span class="pull-right">18-Jul-2015</span></a>
                                            </li>
                                            
                                         </ul>
                                        </div>
                                    </section>
                                </aside>
                            </div>
                            <div class="col-md-4 move">
                                <aside class="profile-nav alt">
                                    <section class="panel panel-info grid-panel">
                                        <div class="panel-heading">
                                          <h1 class="panel-title">Test Results </h1>
                                        </div>
                                        <div>
                                         <ul class="nav nav-pills nav-stacked">
                                            <li> <a href="javascript:;"> 
                                            <span>Blood </span>
                                            <span class="pull-right">16-Jul-2015</span></a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>Blood </span>
                                            <span class="pull-right">17-Jul-2015</span></a>
                                            </li> 
                                            
                                         </ul>
                                        </div>
                                    </section>
                                </aside>
                            </div>
                        <div class="col-md-4 move">
                                <aside class="profile-nav alt">
                                    <section class="panel panel-default grid-panel">
                                        <div class="panel-heading">
                                          <h1 class="panel-title">My Medications </h1>
                                        </div>
                                        <div>
                                         <ul class="nav nav-pills nav-stacked">
                                            <li> <a href="javascript:;"> 
                                            <span>TT </span>
                                            </a>
                                            </li> <li> <a href="javascript:;"> 
                                            <span>BP </span>
                                            </a>
                                            </li> 
                                            
                                         </ul>
                                        </div>
                                    </section>
                                </aside>
                            </div>
                        </div>
                        
                    </div>
                   
         </div>  

     </div>
    </section> 
  </div> 
 <!--  <div class="col-sm-3">
     <div ui-view="right-side-menu"></div>
      
  </div> -->
</div>