 <div class="row"> 
 <div class="col-md-12">
                   <div class="well well-sm"> 
                   <div class="row">
                    <div class="col-md-4"> 
                     <span class="property-lable">Name:</span> 
                     <span class="property-value ">Amith kumar</span> 
                    </div> 
                    <div class="col-md-4"> 
                     <span class="property-lable">Gender:</span> 
                     <span class="property-value ">Male</span> 
                    </div>
                    <div class="col-md-4"> 
                     <span class="property-lable">Date of Birth:</span> 
                     <span class="property-value "> 01-jun-1990 (25 years)</span> 
                    </div> 
                    </div>
                     <hr style="margin:2px;">
                    <div class="row">
                    <div class="col-md-4"> 
                     <span class="property-lable">Height:</span> 
                     <span class="property-value  ">181.0 cms</span> 
                    </div> 
                    <div class="col-md-4"> 
                     <span class="property-lable">Account:</span> 
                     <span class="property-value  ">800000000936</span> 
                    </div> 
                    <div class="col-md-4"> 
                     <span class="property-lable">Weight:</span> 
                     <span class="property-value "> 80.0 kgs (Normal:71.2 - 76.2)</span> 
                    </div> 
                    </div>
                     <hr style="margin:2px;">
                    <div class="row">
                    <div class="col-md-4"> 
                     <span class="property-lable">Mobile Number:</span> 
                     <span class="property-value ">9492225777</span> 
                    </div>
                    <div class="col-md-4"> 
                     <span class="property-lable">Body Mass Index(BMI):</span> 
                     <span class="property-value ">24.7 (Overweight)</span> 
                    </div>
                    <div class="col-md-4"> 
                     <span class="property-lable">Marital status:</span> 
                     <span class="property-value ">Single</span> 
                    </div>
                    </div>
                    <hr style="margin:2px;">
                    <div class="row">
                    <div class="col-md-4"> 
                     <span class="property-lable">Blood Group:</span> 
                     <span class="property-value ">B+ve</span> 
                    </div> 
                    </div>
                   </div> 
    </div> 
</div> 