<div class="row">
       <div class="col-md-12">
          <section class="panel right-side-panel">
              <div class="panel-heading">
                  Resources
              </div>
               <ul class="nav nav-pills nav-stacked">
                  <li> <a href="javascript:;"> 
                  <span>See All </span>
                  </a>
                  </li> 
               </ul>
          </section>
       </div>
      </div>
      <div class="row">
       <div class="col-md-12">
          <section class="panel right-side-panel">
              <div class="panel-heading">
                  My Recent Searches
              </div>
              <ul class="nav nav-pills nav-stacked">
                  <li> <a href="javascript:;"> 
                  <span>Find a Doctor - Search by location, specialty or name </span>
                  </a>
                  </li> 
                  <li> <a href="javascript:;"> 
                  <span>Doctors with 'jagan' </span>
                  </a>
                  </li> 
                   <li> <a href="javascript:;"> 
                  <span>Doctors with 'sunitha'</span>
                  </a>
                  </li> 
               </ul>
          </section>
       </div>
      </div> 
      <div class="row">
       <div class="col-md-12">
          <section class="panel right-side-panel">
              <div class="panel-heading">
                  Xprs-Health Feeds
              </div>
                  <ul class="nav nav-pills nav-stacked">
                    <li>
                        <a href="javascript:;"> 
                        <span>Nutrition and Fitness</span>
                        </a>
                    </li>
                    
                 </ul>
                  
          </section>
       </div>
      </div>